<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="author" content="Jason Rametta">
  <meta name="description" content="{{description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <style>
    html, body {
      height: 100%;
    }
    .page {
      min-height: 100%;
      display: -webkit-box; 
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex; 
      display: flex;
      flex-direction: column;
      -webkit-box-orient: vertical;
    }
    .content {
      display: -webkit-box; 
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex; 
      display: flex;
      flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }
    .github {
      height: 24px;
      opacity: .7;
    }
    .github:hover {
      opacity: 1;
    }
    .first-col {
      width: 30%;
    }
  </style>

</head>

<body>

  <div class="page">
    <nav class="navbar navbar-dark bg-dark sticky-top">
      <span class="navbar-brand">{{title}}</span>
      <span class="navbar-text ml-auto">
        <a title="Quantor Github" target="_blank" href="https://github.com/rametta/quantor">
          <img alt="github logo" src="https://raw.githubusercontent.com/rametta/quantor/master/assets/github.png" class="github" />
        </a>
      </span>
    </nav>

    <div class="container content">
      <div class="row">
        <div class="col">

          <div class="text-muted my-3">{{description}}</div>

          {{#endpoints}}
          <div class="card my-3">
            <div class="card-header">
              {{display}} | <a href="{{base}}{{name}}" target="_blank" title="{{display}}">{{name}}</a>
            </div>
            <div class="card-body">
              <p class="card-text">{{description}}</p>

              {{#handlers}}

                {{#get}}
                <div>
                  <span class="badge badge-primary">GET</span> 
                </div>
                {{/get}}

                {{#post}}
                <div>
                  <span class="badge badge-success">POST</span>
                </div>
                {{/post}}

                {{#put}}
                <div>
                  <span class="badge badge-warning">PUT</span>
                </div>
                {{/put}}

                {{#delete}}
                <div>
                  <span class="badge badge-danger">DELETE</span>
                </div>
                {{/delete}}

                {{#head}}
                <div>
                  <span class="badge badge-dark">HEAD</span>
                </div>
                {{/head}}

                {{#options}}
                <div>
                  <span class="badge badge-dark">OPTIONS</span>
                </div>
                {{/options}}

                {{#patch}}
                <div>
                  <span class="badge badge-dark">PATCH</span>
                </div>
                {{/patch}}

                {{#queryParams}}
                <small>Query Params</small>
                <div class="table-responsive">
                  <table class="table table-sm table-hover">
                    <tbody>
                    {{#requiredQueryParams}}
                      <tr>
                        <th class="first-col" nowrap scope="row">* {{name}}</th>
                        <td class="text-muted">
                          {{#info}}{{info}}{{/info}}
                          {{^info}}-{{/info}}
                        </td>
                      </tr>
                    {{/requiredQueryParams}}
                    {{#optionalQueryParams}}
                      <tr>
                        <th class="first-col" nowrap scope="row">{{name}}</th>
                        <td class="text-muted">
                          {{#info}}{{info}}{{/info}}
                          {{^info}}-{{/info}}
                        </td>
                      </tr>
                    {{/optionalQueryParams}}
                    </tbody>
                  </table>
                </div>
                {{/queryParams}}

                {{#bodyParams}}
                <small>Body Params</small>
                <div class="table-responsive">
                  <table class="table table-sm table-hover">
                    <tbody>
                    {{#requiredBodyParams}}
                      <tr>
                        <th class="first-col" nowrap scope="row">* {{name}}</th>
                        <td class="text-muted">
                          {{#info}}{{info}}{{/info}}
                          {{^info}}-{{/info}}
                        </td>
                      </tr>
                    {{/requiredBodyParams}}
                    {{#optionalBodyParams}}
                      <tr>
                        <th class="first-col" nowrap scope="row">{{name}}</th>
                        <td class="text-muted">
                          {{#info}}{{info}}{{/info}}
                          {{^info}}-{{/info}}
                        </td>
                      </tr>
                    {{/optionalBodyParams}}
                    </tbody>
                  </table>
                </div>
                {{/bodyParams}}

                {{#headers}}
                <small>Body Params</small>
                <div class="table-responsive">
                  <table class="table table-sm table-hover">
                    <tbody>
                    {{#requiredHeaders}}
                      <tr>
                        <th class="first-col" nowrap scope="row">* {{name}}</th>
                        <td class="text-muted">
                          {{#info}}{{info}}{{/info}}
                          {{^info}}-{{/info}}
                        </td>
                      </tr>
                    {{/requiredHeaders}}
                    {{#optionalHeaders}}
                      <tr>
                        <th class="first-col" nowrap scope="row">{{name}}</th>
                        <td class="text-muted">
                          {{#info}}{{info}}{{/info}}
                          {{^info}}-{{/info}}
                        </td>
                      </tr>
                    {{/optionalHeaders}}
                    </tbody>
                  </table>
                </div>
                {{/headers}}

              {{/handlers}}

            </div>
          </div>
          {{/endpoints}}

          {{^endpoints}}
          <div class="alert alert-danger" role="alert">
            <strong>Uh oh!</strong> There are no endpoints provided
          </div>
          {{/endpoints}}

        </div>
      </div>
    </div>

    <nav class="navbar navbar-dark bg-dark">
      <div class="text-center w-100">
        <a class="text-white" href="https://www.npmjs.com/package/quantor" target="_blank">Powered with ❤️️ by the Quantor Engine</a>
      </div>
    </nav>
  </div>

</body>

</html>