<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{title}} | API Docs</title>
  <meta name="author" content="Jason Rametta">
  <meta name="description" content="API Docs for {{title}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

  <nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand">{{title}} | API Docs</span>
  </nav>

  <!-- CONTENT -->
  <div class="container">
    <div class="row">

      <div class="col">
      <div class="card">
        <div class="card-header">
          POST - /api/person
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>


      </div>
    </div>
  </div>

</body>

</html>